# Ignorar node_modules
node_modules/

# Ignorar lock file
package-lock.json

# Ignorar carpetas específicas
.vercel/
build/
.documents/
documents/

coverage/

# Ignorar archivos de entorno
.env
.vercel
